body {
  /* background-color: #ccc; */
  background-color: white;
}

h1 {
  color: blue;
}

.name-header {
  border: 1px solid blue;
  padding: 10px;
  margin: 20px 0;
}
#content-box {
  /* float: left; */
  border: 1px solid black;
  padding: 5px;
  margin-right: 5px;
  margin-bottom: 20px;
}

.menu {
  padding: 10px;
  margin-bottom: 30px;
}

.menu a {
  margin-right: 15px;
}

.btn-main {
  background: blue;
  color: white;
  border-radius: 5px;
  border: 1px solid blue;
}

.btn-main:hover {
  background: skyblue;
}

#input-box {
  background-color: white;
  border-radius: 5px ;
}

#name-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
